# In this tutorial I learn about the basics of Numpy

In [2]:
import numpy as np

In [3]:
list1=[1,3,6,8]
ar2=np.array(list1)
ar2
# Here is the 1D array

array([1, 3, 6, 8])

In [4]:
list2=[1,3,6,8],[5,4,33,83]
ar2=np.array(list2)
ar2
# it is an 2*4 matrix 2d array

array([[ 1,  3,  6,  8],
       [ 5,  4, 33, 83]])

In [5]:
np.arange(1,20)
# it give a range between two numbers

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])

In [6]:
# I can also give a step size 
np.arange(0,20,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [7]:
np.zeros(5)
# It is the array of zeros

array([0., 0., 0., 0., 0.])

In [8]:
np.ones(4)

array([1., 1., 1., 1.])

In [9]:
np.ones((3,4))  #2d array

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [10]:
np.linspace(1,12,100)
# it generate 100 value between 1 to 12 with equaly spaced..

array([ 1.        ,  1.11111111,  1.22222222,  1.33333333,  1.44444444,
        1.55555556,  1.66666667,  1.77777778,  1.88888889,  2.        ,
        2.11111111,  2.22222222,  2.33333333,  2.44444444,  2.55555556,
        2.66666667,  2.77777778,  2.88888889,  3.        ,  3.11111111,
        3.22222222,  3.33333333,  3.44444444,  3.55555556,  3.66666667,
        3.77777778,  3.88888889,  4.        ,  4.11111111,  4.22222222,
        4.33333333,  4.44444444,  4.55555556,  4.66666667,  4.77777778,
        4.88888889,  5.        ,  5.11111111,  5.22222222,  5.33333333,
        5.44444444,  5.55555556,  5.66666667,  5.77777778,  5.88888889,
        6.        ,  6.11111111,  6.22222222,  6.33333333,  6.44444444,
        6.55555556,  6.66666667,  6.77777778,  6.88888889,  7.        ,
        7.11111111,  7.22222222,  7.33333333,  7.44444444,  7.55555556,
        7.66666667,  7.77777778,  7.88888889,  8.        ,  8.11111111,
        8.22222222,  8.33333333,  8.44444444,  8.55555556,  8.66666667,
        8.77777778,  8.88888889,  9.        ,  9.11111111,  9.22222222,
        9.33333333,  9.44444444,  9.55555556,  9.66666667,  9.77777778,
        9.88888889, 10.        , 10.11111111, 10.22222222, 10.33333333,
       10.44444444, 10.55555556, 10.66666667, 10.77777778, 10.88888889,
       11.        , 11.11111111, 11.22222222, 11.33333333, 11.44444444,
       11.55555556, 11.66666667, 11.77777778, 11.88888889, 12.        ])

In [11]:
a2= np.linspace(1,12,100)

In [12]:
a2.shape
# a2 is 1D and 100 values

(100,)

In [13]:
ar2

array([[ 1,  3,  6,  8],
       [ 5,  4, 33, 83]])

In [14]:
ar2.shape
# ar2 is 2*4 matrix 2D array

(2, 4)

In [15]:
a2.dtype
# a2 has a float values

dtype('float64')

In [16]:
ar2.dtype
# it has integer values

dtype('int32')

In [17]:
np.eye(4)
# i can generate identity matrix 4*4

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [18]:
a2

array([ 1.        ,  1.11111111,  1.22222222,  1.33333333,  1.44444444,
        1.55555556,  1.66666667,  1.77777778,  1.88888889,  2.        ,
        2.11111111,  2.22222222,  2.33333333,  2.44444444,  2.55555556,
        2.66666667,  2.77777778,  2.88888889,  3.        ,  3.11111111,
        3.22222222,  3.33333333,  3.44444444,  3.55555556,  3.66666667,
        3.77777778,  3.88888889,  4.        ,  4.11111111,  4.22222222,
        4.33333333,  4.44444444,  4.55555556,  4.66666667,  4.77777778,
        4.88888889,  5.        ,  5.11111111,  5.22222222,  5.33333333,
        5.44444444,  5.55555556,  5.66666667,  5.77777778,  5.88888889,
        6.        ,  6.11111111,  6.22222222,  6.33333333,  6.44444444,
        6.55555556,  6.66666667,  6.77777778,  6.88888889,  7.        ,
        7.11111111,  7.22222222,  7.33333333,  7.44444444,  7.55555556,
        7.66666667,  7.77777778,  7.88888889,  8.        ,  8.11111111,
        8.22222222,  8.33333333,  8.44444444,  8.55555556,  8.66666667,
        8.77777778,  8.88888889,  9.        ,  9.11111111,  9.22222222,
        9.33333333,  9.44444444,  9.55555556,  9.66666667,  9.77777778,
        9.88888889, 10.        , 10.11111111, 10.22222222, 10.33333333,
       10.44444444, 10.55555556, 10.66666667, 10.77777778, 10.88888889,
       11.        , 11.11111111, 11.22222222, 11.33333333, 11.44444444,
       11.55555556, 11.66666667, 11.77777778, 11.88888889, 12.        ])

In [19]:
a2.max()
# it gives the maximum value in the aaray

12.0

In [20]:
a2.min()
# it gives the minimum value in the aaray

1.0

In [21]:
a2.argmax()
# also find argument or position

99

In [22]:
a2.argmin()

0

In [23]:
np.random.rand(3)
# it gives 3 values randomly between 0 and 1

array([0.57031413, 0.74956596, 0.88723075])

In [24]:
np.random.rand(3,3)
# 2D array with random values

array([[0.52351588, 0.79659034, 0.08973989],
       [0.71784152, 0.58233542, 0.97572738],
       [0.07921861, 0.10552655, 0.6521041 ]])

In [25]:
np.random.randn(3,3)
# normal distribution betweeen -1 and +1

array([[-0.64149859,  1.98898793,  0.12999117],
       [-0.24356777,  0.04571041,  0.34962591],
       [-0.47023822, -0.91877019,  1.14850364]])

In [26]:
np.random.randint(1,100,10)
# it in randomly generated values between 10 and 100 and we have 10 values

array([66, 34, 17, 12, 81, 89, 64, 26, 49,  6])

In [27]:
a1=np.arange(5,101,5)

In [28]:
a1

array([  5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,  65,
        70,  75,  80,  85,  90,  95, 100])

In [29]:
a2=a1.reshape(5,4)

In [30]:
a2.shape

(5, 4)

In [31]:
a2

array([[  5,  10,  15,  20],
       [ 25,  30,  35,  40],
       [ 45,  50,  55,  60],
       [ 65,  70,  75,  80],
       [ 85,  90,  95, 100]])

In [32]:
a2[1:3,2:4]
# it look at rows 1 to 3
# and columns 2 to 4

array([[35, 40],
       [55, 60]])

In [33]:
a2[3,:]
# complete 3 row

array([65, 70, 75, 80])

In [34]:
a2[:,3]
# print complete column

array([ 20,  40,  60,  80, 100])

In [35]:
aslice=a2[3,:]

In [36]:
aslice[:]=100

In [37]:
aslice

array([100, 100, 100, 100])

In [38]:
a2
# alice replace the value form a2 also

array([[  5,  10,  15,  20],
       [ 25,  30,  35,  40],
       [ 45,  50,  55,  60],
       [100, 100, 100, 100],
       [ 85,  90,  95, 100]])

In [39]:
acopy=a2.copy()

In [40]:
acopy[:]=100

In [41]:
acopy

array([[100, 100, 100, 100],
       [100, 100, 100, 100],
       [100, 100, 100, 100],
       [100, 100, 100, 100],
       [100, 100, 100, 100]])

In [42]:
a2

array([[  5,  10,  15,  20],
       [ 25,  30,  35,  40],
       [ 45,  50,  55,  60],
       [100, 100, 100, 100],
       [ 85,  90,  95, 100]])

In [43]:
a2>50
# boolean value assign

array([[False, False, False, False],
       [False, False, False, False],
       [False, False,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

In [44]:
a1=np.arange(0,11)
a2=np.arange(0,21,2)

In [45]:
a1.shape

(11,)

In [46]:
a2.shape

(11,)

In [47]:
a1+a2

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [48]:
a1+a2

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [49]:
a2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [50]:
a1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [51]:
a1-a2

array([  0,  -1,  -2,  -3,  -4,  -5,  -6,  -7,  -8,  -9, -10])

In [52]:
a2-a1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [53]:
a1*a2

array([  0,   2,   8,  18,  32,  50,  72,  98, 128, 162, 200])

In [54]:
a1/a2

C:\Users\my-pc\anaconda3\envs\credit\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([nan, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5])

In [55]:
np.sqrt(a1)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ,
       3.16227766])

In [56]:
np.sqrt(a2)

array([0.        , 1.41421356, 2.        , 2.44948974, 2.82842712,
       3.16227766, 3.46410162, 3.74165739, 4.        , 4.24264069,
       4.47213595])

In [57]:
np.exp(a1)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03, 2.20264658e+04])

In [58]:
np.sin(a1)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849,
       -0.54402111])

In [59]:
np.log(a1)

C:\Users\my-pc\anaconda3\envs\credit\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458,
       2.30258509])

In [60]:
a1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])